# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Vercel & Deployment
.vercel

# Node (in case npm packages or tools are added later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Temporary & Log files
*.log
